.search-form {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  transition:  min-height 500ms ease-out;
  padding: 1.5rem 2rem !important;
}

.ant-form-item.search-input {
  flex: 1;
}

.ant-row.ant-form-item {
  margin: 0;
}

.search-form-logo {
  margin-right: 1rem !important;
}

.search-button {
  text-transform: uppercase;
}