.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, var(--color-bg), var(--color-renci));
  width: 100%;
}

.search-header {
  width: 100%;
  background-color: #001529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  padding-top: 3px !important;
  position: relative;
}

.search-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(90deg, var(--color-unc-azalea-pink), var(--color-unc-sunburst-yellow));
}

.results-container {
  flex: 1;
}
